/* Utilities CSS */
/* .red-bor {
  border: 2px solid red;
}

.green-bor {
  border: 2px solid green;
}

.blue-bor {
  border: 2px solid blue;
}

.black-bor {
  border: 2px solid black;
} */


/* .w-vw{
  width: 100vw;
}

.h-vh{
  height: 100vh;
} */

.covering {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.slide {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.opening {
  background-color: tomato;
}

#sponsers {
  background-color: pink;
}

#speakers{
  background-color: bisque;
}

#events{
  background-color: blueviolet;
}

.ending {
  background-color: teal;
}




/* styles */
.opening {}



/* Sponser Page CSS */
.boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}


.box{
  width: 150px;
  height: 150px;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 8px 0;
}